pandas
numpy
jsonschema
datetime
geopy
folium
geocoder
matplotlib
seaborn
faker
streamlit
flask
python-dotenv
twilio
openai
googletrans
sqlalchemy
werkzeug
requests
matplotlib
fpdf







torch
transformers
onnxruntime


vosk
soundfile


gTTS
pyttsx3



